In [1]:
import requests
import pandas as pd
import sqlalchemy as db

In [2]:
DATABASE_URL = "sqlite:///../db/database.db"
engine = db.create_engine(DATABASE_URL)

query = "SELECT * FROM houses"

df = pd.read_sql(query, con=engine)
df.head()

,id,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance
0,1,São Paulo,70,2,1,1,7,1,1,2065,3300.0,211,42
1,2,São Paulo,320,4,4,0,20,1,0,1200,4960.0,1750,63
2,3,Porto Alegre,80,1,1,1,6,1,0,1000,2800.0,0,41
3,4,Porto Alegre,51,2,1,0,2,1,0,270,1112.0,22,17
4,5,São Paulo,25,1,1,0,1,0,0,0,800.0,25,11

In [3]:
df.shape

(10698, 13)

In [4]:
base_url = "http://127.0.0.1:8000"
endpoint = "/api/v1/housespredict/"

dados_para_enviar = {
    "city": "São Paulo",
    "area": 70,	
    "rooms": 2,	
    "bathroom": 1,	
    "parking_spaces": 1,	
    "floor": 7,	
    "animal": 1,	
    "furniture": 1,	
    "hoa": 2065,	
    "property_tax": 211,	
    "fire_insurance": 42,
}
response = requests.post(f"{base_url}{endpoint}", json=dados_para_enviar)
print(f"Status Code: {response.status_code}") 
print("Resposta da API:")
print(response.json())

Status Code: 200
Resposta da API:
{'predicted_rent': 3293.07}

In [5]:
df = pd.read_sql(query, con=engine)
df.shape

(10699, 13)